SMA Lab 4:Retrieving the user’s LinkedIn Profile and analyzing the profile’s **connections**

SWETHA JENIFER S
225229142

In [6]:
import pandas as pd
df = pd.read_csv('Connections.csv')

In [8]:
df.head()

,First Name,Last Name,URL,Unnamed: 3,Company,Position,Connected On
0,Deepa,V,https://www.linkedin.com/in/deepav03081999,NaN,LTIMindtree,Software Engineer,26-Jul-23
1,Guru,Rathinavel M,https://www.linkedin.com/in/guru-rathinavel-m-...,NaN,Amizhth Techno Solutions,Angular intern at Amizhth techno solutions,22-Jul-23
2,Mohamed,Zaheerudeen M S,https://www.linkedin.com/in/mohamed-zaheerudee...,NaN,NaN,NaN,22-Jul-23
3,Infant Sheltus,Winston,https://www.linkedin.com/in/infant-sheltus-win...,NaN,Deloitte,Associate Analyst,22-Jul-23
4,Balamurugan,P,https://www.linkedin.com/in/balamurugan-p-9775...,NaN,NaN,NaN,20-Jul-23

In [7]:

# Analyzing the dataset
def analyze_connections_data(dataframe):
    # Print some basic statistics
    print("Basic Statistics:")
    print(dataframe.describe())

    # Count the number of connections in the dataset
    num_connections = len(dataframe)
    print(f"Number of Connections: {num_connections}")

    # Analyze job titles and their frequency
    job_titles_counts = dataframe['Position'].value_counts()
    print("\nJob Titles and Frequency:")
    print(job_titles_counts)


    # Analyze industries and their frequency
    industries_counts = dataframe['Company'].value_counts()
    print("\nIndustries and Frequency:")
    print(industries_counts)

# Main function
if __name__ == '__main__':
    # Assuming your dataset has columns like 'Name', 'Job Title', 'Location', 'Industry', etc.
    # Replace the column names below according to your dataset if needed.
    analyze_connections_data(df)

Basic Statistics:
       Unnamed: 3
count         0.0
mean          NaN
std           NaN
min           NaN
25%           NaN
50%           NaN
75%           NaN
max           NaN
Number of Connections: 70

Job Titles and Frequency:
Programmer                                       4
Managing Director                                2
Software Engineer                                1
Python Developer                                 1
Graduate Trainee                                 1
System Administrator                             1
HR AND ADMIN                                     1
System Engineer                                  1
Assistant System Engineer                        1
Senior Recruiter                                 1
RPA Developer at First Source                    1
Employee                                         1
Client Service Representative                    1
Campus Ambassador                                1
Assistant Accountant cum Document Controller     1
Direct client recruiter                          1
UI Designer                                      1
Technology Analyst                               1
Assistant Professor                              1
Angular intern at Amizhth techno solutions       1
DataScience Intern                               1
Associate Analyst                                1
Head of promotions and external relations        1
Founder | Proprietor                             1
Machine Learning Intern                          1
Operations Executive                             1
Associate Professor                              1
Entitlement                                      1
Senior Systems associate                         1
Lead Engineer                                    1
 Senior US IT Recruiter                          1
HR trainee                                       1
Volunteer                                        1
Financial Analyst Intern                         1
Python (Django)                                  1
Student Representative                           1
Name: Position, dtype: int64

Industries and Frequency:
Tata Consultancy Services                           5
Infosys                                             4
Bishop Heber College, Tiruchirappalli - 620 017.    2
MENMOZHI TECHNOLOGIES                               2
Accenture                                           1
RG-VP Web Solutions                                 1
Eson's Power Company                                1
Cognizant                                           1
FutureWorks Media Limited                           1
Chargeback Gurus, an Inc. 5000 company              1
LTIMindtree                                         1
HCI                                                 1
cvDragon                                            1
Eastern Asphalt and Mixed Concrete Company W.L.L    1
e-Business International Inc                        1
Zoho Corporation                                    1
Myway Net Cafe                                      1
Nitroware Technology                                1
Firstsource                                         1
Amizhth Techno Solutions                            1
Madhu Finance Advisory (MFA)                        1
GreenBhumi                                          1
WiseTech Source Pvt. Ltd                            1
Confidential                                        1
HCL Technologies                                    1
BNY Mellon                                          1
SYNC INTERN'S                                       1
Verizon                                             1
DAKSH                                               1
Deloitte                                            1
Responsibility in department                        1
Name: Company, dtype: int64